@charset "UTF-8";

/*-- Imports --*/
@import url(normalize.css);

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Universal
2.0 - CSS Variables
3.0 - Objects: class-based selectors
4.0 - Typography
        - HTML
        - Headlines & Text
        - Links
5.0 - Components: specific designed components
6.0 - Header
7.0 - Footer
8.0 - Sections

/*--------------------------------------------------------------
    1.0 - Universal
-------------------------------------------------------------- */

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1.25rem;
}

/*--------------------------------------------------------------
    2.0 - CSS Variables
-------------------------------------------------------------- */
:root {
    --color-black: #000;
    --color-white: #fff;
    --padding: 2rem;
    --spacing: 5rem;
}

/*--------------------------------------------------------------
    3.0 - Objects: class-based selectors
-------------------------------------------------------------- */
.sr-only {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.row {}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

/*--------------------------------------------------------------
    4.0 - Typography
-------------------------------------------------------------- */

/*-- Headlines --*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* ----- Text ----- */
p {
    font-size: 1rem;
}

/* ----- Links ----- */
a {}

a:hover {}

/*--------------------------------------------------------------
    5.0 - Components
-------------------------------------------------------------- */
.btn {}

.btn:hover {}

/*--------------------------------------------------------------
    6.0 - HEADER
-------------------------------------------------------------- */
header.site-header {}

/* ----- NAV ----- */
header.site-header nav ul {
    display: grid;
    gap: 2rem;
    grid: auto / repeat(3, auto);
    justify-content: right;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
}

/*--------------------------------------------------------------
    7.0 - FOOTER
-------------------------------------------------------------- */
footer.site-footer {}

/*--------------------------------------------------------------
    8.0 - SECTIONS
-------------------------------------------------------------- */
/* ----- MAIN ----- */
main > section {
    padding: 100px 2rem;
}

/* ----- OMAR ----- */

.omar {
    background: beige;
}

/* ----- HERO ----- */
.hero {
    background: thistle;
}
